*.swp
.CLion2019*/
.ICEauthority
.NERD*
.Xauthority
.bash_history
.bash_logout
.cache/
.cisco/
.clang-format
.clang-tidy
.conan/
.config/
.dbus/
.dmrc
.fzf.bash
.gnupg/
.home_setup
.java/
.joe_state
.local/
.markdownNavigator/
.mozilla/
.npm
.nv/
.nvidia*
.oracle_jre_usage/
.pki/
.presage/
.python_history
.ros/
.ssh/
.sudo_as_admin_successful
.thunderbird
.vim_mru_files
.viminfo
.wget-hsts
.xprofile
.xsession-*
.zoom/
Desktop/
Documents/
Downloads/
Games/
Pictures/
examples.desktop
node_modules/
package-lock.json
projects/
rti_workspace/
snap/
tags
