[submodule ".vim"]
	path = .vim
	url = https://github.com/ManuelMeraz/.vim
[submodule "projects/tracker"]
	path = projects/tracker
	url = https://github.com/ManuelMeraz/Tracker
[submodule "projects/conan-config"]
	path = projects/conan-config
	url = git@github.com:ManuelMeraz/conan-config.git
