
.948523020855.20200407_191805.bin
.99-realsense-libusb.rules
.CLion2019*/
.ICEauthority
.NERD*
.Xauthority
.bash_history
.bash_logout
.cache/
.cisco/
.clang-format
.clang-tidy
.cmake/
.conan/
.config/
.fzf.bash
.gnupg/
.home_setup
.java/
.local/
.markdownNavigator/
.mozilla/
.npm
.nv/
.nvidia*
.oracle_jre_usage/
.pki/
.processing/
.python_history
.realsense-config.json
.ros/
.rviz2/
.ssh/
.sudo_as_admin_successful
.swp
.thunderbird
.vim_mru_files
.viminfo
.wget-hsts
.wine/
.xprofile
.zoom/
Desktop/
Documents/
Downloads/
Games/
Pictures/
examples.desktop
node_modules/
package-lock.json
projects/
rti_workspace/
snap/
tags
