*.swp
.CLion2019*/
.ICEauthority
.NERD*
.Xauthority
.bash_history
.bash_logout
.cache/
.cisco/
.clang-format
.clang-tidy
.conan/
.config/
.fzf.bash
.gnupg/
.home_setup
.java/
.local/
.markdownNavigator/
.mozilla/
.npm
.nv/
.nvidia*
.pki/
.python_history
.ros/
.ssh/
.sudo_as_admin_successful
.thunderbird
.vim_mru_files
.viminfo
.wget-hsts
.xprofile
.zoom/
Desktop/
Downloads/
Games/
Pictures/
examples.desktop
node_modules/
package-lock.json
snap/
tags
